.bg-linearn{
    border-radius: 40px 40px 0px 0px;
    background: linear-gradient(287deg, #EFAFBC 0%, #C3E3FA 100%);
}
.cl-79BCCF{
    color: #79BCCF;
}
.bg-C3E3FA{
    background:#C3E3FA;
}
.bg-EFAFBC{
    background:#EFAFBC;
}
.bg-svg{
    
    
    background-size: cover;
    border-radius: 40px 40px 0px 0px;
    background: linear-gradient(287deg, #EFAFBC 0%, #C3E3FA 100%);
    stroke-width: 2px;
stroke: #FFF;
}
.text2{
    color: #444;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 85px; /* 193.182% */
    letter-spacing: 2.2px;
    text-transform: uppercase;
}
.text1{
    color: #444;
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 800;
line-height: 85px;
letter-spacing: 2.2px;
text-transform: uppercase;
}
.text3{
    color: #010101;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 147.368% */
}


