.bg-linearn{
    border-radius: 40px 40px 0px 0px;
    background: linear-gradient(287deg, #EFAFBC 0%, #C3E3FA 100%);
}
.cl-79BCCF{
    color: #79BCCF;
}
.bg-C3E3FA{
    background:#C3E3FA;
}
.bg-EFAFBC{
    background:#EFAFBC;
}


